// Tipografia
$fuente_principal: 'Montserrat', sans-serif;
$fuente_secundaria: 'Ewert', cursive;

// Colores
$verde: #42bbb3;
$verdeazul: #60f3d3;
$amarillo: #fef46d;
$negro: #000;
$blanco: #fff;
$dorado: #634e0b;
$azul: #6a8caf;
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;