@use '../base/variables' as v;
@use '../base/mixins' as m;

.contenedor--show {
  padding: 5rem 0;

  @include m.tablet {
    @include m.grid(2, 5rem);
  }

}

.contenido-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;

  @include m.tablet {
    margin-top: 0;
  }

  h2 {
    font-family: v.$fuente_secundaria;
    margin-bottom: 2rem;
  }

  h3 {
    color: v.$dorado;
    font-weight: 700;
    font-family: v.$fuente_principal;
    margin-bottom: 0;
    font-size: 2.6rem;
  }
}
