// Tipografia
$fuente_principal: 'Montserrat', sans-serif;
$fuente_secundaria: 'Ewert', cursive;

// Colores
$verde: #42bbb3;
$rosa: #f53756;
$amarillo: #fef46d;
$morado: #6d1599;
$negro: #000;
$blanco: #fff;
$dorado: #634e0b;

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;